<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About me</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/about-me.css">
</head>

<body>
    <div class="container">
        <div class="header clearfix">
            <nav class="navbar">
                <div class="navbar-header">
                    <a class="navbar-brand head-logo" href="/">
                        <span>AA</span>
                    </a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="menu-li">
                            <a href="/">Home</a>
                        </li>
                        <li class="menu-li">
                            <a href="/about">About</a>
                        </li>
                        <li class="menu-li active">
                            <a href="/guestbook">Guest Book</a>
                        </li>
                        <li class="menu-li">
                            <a href="/extras">Extras</a>
                        </li>
                        <li class="menu-li">
                            <a href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <article>
            <div>
                <header class="text-center">
                    <h1 id="page-title">My Guest Book</h1>
                    <hr class="custome-hr">
                </header>
                <div class="row">
                    <a href="/new-entry" class="btn btn-primary pull-right margin1">Add New Entry</a>
                </div>
                <div>
                    <% if (entries.length) { %>
                        <% entries.forEach(function(entry) {
                                console.log("Post published :" + entry.published)
                                console.log("Post title :" + entry.title)
                                console.log("Post content :" + entry.content)
                                %>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="text-muted pull-right">
                                        <%= entry.published %>
                                    </div>
                                    <%= entry.title %>
                                </div>
                                <div class="panel-body">
                                    <%= entry.content %>
                                </div>
                            </div>
                            <% }) %>
                                <% } else { %>
                                    <h3>No entries! </h3>
                                    <% } %>
                </div>

                <footer>
                    <div class="footer-content text-center">
                        <div class="copyright">
                            <p>&copy; Developed by Abhijeet Agrawal #S530670 @NWMSU</p>
                            <div>
                                <ul class="list-inline">
                                    <li>
                                        <a target="_blank" href="https://bitbucket.org/s530670/" title="Bitbucket">
                                            <img alt="footer-icon" src="img/icons/bitbucket.png">
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://github.com/s530670" title="Github">
                                            <img alt="footer-icon" src="img/icons/github.png">
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://www.linkedin.com/in/abhijit-agrawal-8770ba50/" title="LinkedIn">
                                            <img alt="footer-icon" src="img/icons/linkedin.png">
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://plus.google.com/u/0/110010224153996248875" title="Google-plus">
                                            <img alt="footer-icon" src="img/icons/google-plus.png">
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://www.facebook.com/abhiking.agrawal" title="Facebook">
                                            <img alt="footer-icon" src="img/icons/facebook.png">
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://www.instagram.com/abhi_tata/" title="Instagram">
                                            <img alt="footer-icon" src="img/icons/instagram.png">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </article>
    </div>
    <script src="js/vendor/jquery-1.11.2.min.js"></script>
    <script src="js/vendor/bootstrap.js"></script>
</body>

</html>