#highlight-name{
	color:#F90; 
	font-style:italic; 
	font-weight:600;
}
.sub-title{
	margin:30px auto;
	color:#a4a4a4;
}
.sub-title_plan{
	margin:10px auto;
	color:#a4a4a4;
}

.about-p{
	margin:30px 0px 0px 0px;
	text-align:justify;
	font-size:16px;
	line-height:22px;
	font-weight:300;
}
.profile-pic{
	width: 150px;
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.profile-pic:hover{
	-webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.margin1{
	margin: 1em;
}
